---
import Layout from '../layouts/Layout.astro';
import ProductsPage from '../pages/products.astro';
---

<Layout title="Camisetas">
  <main>
    <!-- Contenido de la página de productos -->
    <ProductsPage />
  </main>
</Layout>
