---
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="MSLP description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/MSLP_logo.png" />
		<meta name="generator" content={Astro.generator} />
		<script defer event-uuid="8beb8d0e-dce3-4d09-945a-f7757f44cc9c" src="https://tracker.metricswave.com/js/visits.js"></script>
		<title>{title}</title>
	</head>
	<body>
		<slot />
	</body>
</html>
<style is:global>
	:root {
    --accent: 255, 165, 0; /* Cambia a naranja */
    --accent-light: 255, 99, 71; /* Cambia a rojo claro */
    --accent-dark: 255, 140, 0; /* Cambia a naranja oscuro */
    --accent-gradient: linear-gradient(
        45deg,
        rgb(var(--accent)),
        rgb(var(--accent-light)) 30%,
        white 60%
    );
}

	html {
		font-family: system-ui, sans-serif;
		background: #13151a;
		background-size: 224px;
	}
	code {
		font-family:
			Menlo,
			Monaco,
			Lucida Console,
			Liberation Mono,
			DejaVu Sans Mono,
			Bitstream Vera Sans Mono,
			Courier New,
			monospace;
	}
</style>
